# Node.js dependencies
node_modules/

# Shopify theme kit access key
config.yml


# Build and output directories
dist/
build/
public/

# Shopify CLI files
.shopify
.shopify-cli

# Tailwind CSS output
*.css.map
*.css

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# MacOS system files
.DS_Store

# Temporary files and folders
*.tmp
*.log
*.swp
*.lock
