<div class="bg-purple-900 h-80 flex justify-center items-center">
    <h1 class="text-5xl text-white text-center">Coding with Tanjir</h1>
</div>

{% schema %}
{
"name": "Main index",
"settings": [

],
"presets": [
{
"name": "Main index"
}
]
}
{% endschema %}